Load data from file. Show data information and few rows.

In [32]:
import pandas as pd

# Load data from file
data = pd.read_csv("../kaggle/kernels_train/stpeteishii/radioactivity-change-after-the-chernobyl-disaster/data.csv")

# Show data information
print(data.info())

# Show first few rows of data
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PAYS             2051 non-null   object
 1   Code             2051 non-null   int64
 2   Ville            2051 non-null   object
 3   X                2051 non-null   float64
 4   Y                2051 non-null   float64
 5   Date             2051 non-null   object
 6   End_of_sampling  2051 non-null   object
 7   Duration(h.min)  2051 non-null   float64
 8   I_131_(Bq/m3)    2051 non-null   object
 9   Cs_134_(Bq/m3)   2051 non-null   object
 10  Cs_137_(Bq/m3)   2051 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 176.4+ KB
None
  PAYS  Code  Ville      X     Y      Date End_of_sampling  Duration(h.min)  \
0   SE     1  RISOE  12.07  55.7  86/04/27        24:00:00             24.0
1   SE     1  RISOE  12.07  55.7  86/04/28        24:00:00             24.0
2   SE     1  RISOE  12.07  55.7  86/04/29           12:00             12.0
3   SE     1  RISOE  12.07  55.7  86/04/29        24:00:00             12.0
4   SE     1  RISOE  12.07  55.7  86/04/30        24:00:00             24.0

  I_131_(Bq/m3) Cs_134_(Bq/m3) Cs_137_(Bq/m3)
0             1              0           0.24
1        0.0046        0.00054        0.00098
2        0.0147         0.0043         0.0074
3       0.00061              0        0.00009
4       0.00075         0.0001        0.00028

Convert Date columns to datetime format.

In [33]:
# Convert Date column to datetime format
data['Date'] = pd.to_datetime(data['Date'])

# Show updated data information
print(data.info())

# Show first few rows of updated data
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PAYS             2051 non-null   object
 1   Code             2051 non-null   int64
 2   Ville            2051 non-null   object
 3   X                2051 non-null   float64
 4   Y                2051 non-null   float64
 5   Date             2051 non-null   datetime64[ns]
 6   End_of_sampling  2051 non-null   object
 7   Duration(h.min)  2051 non-null   float64
 8   I_131_(Bq/m3)    2051 non-null   object
 9   Cs_134_(Bq/m3)   2051 non-null   object
 10  Cs_137_(Bq/m3)   2051 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 176.4+ KB
None
  PAYS  Code  Ville      X     Y       Date End_of_sampling  Duration(h.min)  \
0   SE     1  RISOE  12.07  55.7 1986-04-27        24:00:00             24.0
1   SE     1  RISOE  12.07  55.7 1986-04-28        24:00:00             24.0
2   SE     1  RISOE  12.07  55.7 1986-04-29           12:00             12.0
3   SE     1  RISOE  12.07  55.7 1986-04-29        24:00:00             12.0
4   SE     1  RISOE  12.07  55.7 1986-04-30        24:00:00             24.0

  I_131_(Bq/m3) Cs_134_(Bq/m3) Cs_137_(Bq/m3)
0             1              0           0.24
1        0.0046        0.00054        0.00098
2        0.0147         0.0043         0.0074
3       0.00061              0        0.00009
4       0.00075         0.0001        0.00028

Check for missing values for all columns by isnull() function

In [34]:
# Check for missing values in all columns
print(data.isnull().sum())

PAYS               0
Code               0
Ville              0
X                  0
Y                  0
Date               0
End_of_sampling    0
Duration(h.min)    0
I_131_(Bq/m3)      0
Cs_134_(Bq/m3)     0
Cs_137_(Bq/m3)     0
dtype: int64